<form class="p-6 space-y-4 relative bg-white shadow-lg rounded-lg">
  <input type="email" placeholder="Email or Phone Number" class="with-border">
  <input type="password" placeholder="Password" class="with-border">
  <button type="button" class="bg-blue-600 font-semibold p-3 rounded-md text-center text-white w-full">
    Log In
  </button>
  <a href="#" class="text-blue-500 text-center block"> Forgot Password? </a>
  <hr class="pb-3.5">
  <div class="flex">
    <a href="#register" type="button" class="bg-green-600 hover:bg-green-500 hover:text-white font-semibold py-3 px-5 rounded-md text-center text-white mx-auto" uk-toggle>
      Create New Account
    </a>
  </div>
</form>
