<div id="register" uk-modal>
  <div class="uk-modal-dialog uk-modal-body rounded-xl shadow-2xl p-0 lg:w-5/12">
    <button class="uk-modal-close-default p-3 bg-gray-100 rounded-full m-3" type="button" uk-close></button>
    <div class="border-b px-7 py-5">
      <div class="lg:text-2xl text-xl font-semibold mb-1"> Sign Up</div>
      <div class="text-base text-gray-600"> Creat another "You" .</div>
    </div>
    <form class="p-7 space-y-5">
      <div class="grid lg:grid-cols-2 gap-5">
        <input type="text" placeholder="Your Name" class="with-border">
        <input type="text" placeholder="Middle Name" class="with-border">
        <input type="text" placeholder="Last  Name" class="with-border">
      </div>
      <input type="email" placeholder="Info@example.com" class="with-border">
      <input type="date"  class="with-border">
      <input type="password" placeholder="Password" class="with-border">
      <input type="password" placeholder="Confirm Password" class="with-border">

      <div class="grid lg:grid-cols-2 gap-3">
        <div>
          <label class="mb-0"> Gender </label>
          <select class="selectpicker mt-2 with-border">
            <option>Male</option>
            <option>Female</option>
          </select>

        </div>
        <div>
          <label class="mb-2"> Phone: optional  </label>
          <input type="text" placeholder="+543 5445 0543" class="with-border">
        </div>
      </div>
      <p class="text-xs text-gray-400 pt-3">By clicking Sign Up, you agree to our
        <a href="#" class="text-blue-500">Terms</a>,
        <a href="#">Data Policy</a> and
        <a href="#">Cookies Policy</a>.
        You may receive SMS Notifications from us and can opt out any time.
      </p>
      <div class="flex">
        <button type="button" class="bg-blue-600 font-semibold mx-auto px-10 py-3 rounded-md text-center text-white">
          Get Started
        </button>
      </div>
    </form>

  </div>
</div>

