<div class="news-feed-form">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active inline-items" data-bs-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

        <svg class="olymp-status-icon">
          <use xlink:href="#olymp-status-icon"></use>
        </svg>

        <span>Status</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link inline-items" data-bs-toggle="tab" href="#profile-1" role="tab" aria-expanded="false">

        <svg class="olymp-multimedia-icon">
          <use xlink:href="#olymp-multimedia-icon"></use>
        </svg>

        <span>Multimedia</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link inline-items" data-bs-toggle="tab" href="#blog" role="tab" aria-expanded="false">
        <svg class="olymp-blog-icon">
          <use xlink:href="#olymp-blog-icon"></use>
        </svg>

        <span>Blog Post</span>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade active show" id="home-1" role="tabpanel" aria-expanded="true">


      <form (ngSubmit)="create()" [formGroup]="formCreate">
        <!--        <input type="text" formControlName="anh1">-->
        <!--        <input type="text" formControlName="anh2">-->
        <!--        <input type="text" formControlName="anh3">-->
        <div class="author-thumb">
          <img loading="lazy" src="https://production-gameflipusercontent.fingershock.com/us-east-1:5f07d933-c261-4716-9a12-eb6012d186a8/avatar/96586914-c795-46be-8b8f-4a6455472747/320x320.jpg" width="36" height="36" alt="author">
        </div>
        <div class="form-group with-icon label-floating is-empty">
          <label class="control-label">Share what you are thinking here...</label>
          <textarea #txtContent formControlName="content" class="form-control" placeholder=""></textarea>
        </div>
        <div class="add-options-message">
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD PHOTOS">
            <svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo">
              <use xlink:href="#olymp-camera-icon"></use>
            </svg>
          </a>
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="TAG YOUR FRIENDS">
            <svg class="olymp-computer-icon">
              <use xlink:href="#olymp-computer-icon"></use>
            </svg>
          </a>

          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD LOCATION">
            <svg class="olymp-small-pin-icon">
              <use xlink:href="#olymp-small-pin-icon"></use>
            </svg>
          </a>

          <button type="submit" class="btn btn-primary btn-md-2">Post Status</button>
          <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>
        </div>


        <!-- Window-popup Update Header Photo -->

        <div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog"
             aria-labelledby="update-header-photo"
             aria-hidden="true">
          <div class="modal-dialog window-popup update-header-photo" role="document">
            <div class="modal-content">
              <a href="#" class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                  <use xlink:href="#olymp-close-icon"></use>
                </svg>
              </a>

              <div class="modal-header">
                <h6 class="title">Update Photo</h6>
              </div>

              <div class="modal-body">
                <a href="#" class="upload-photo-item">
                  <svg class="olymp-computer-icon">
                    <use xlink:href="#olymp-computer-icon"></use>
                  </svg>

                  <h6>Upload Photo</h6>
                  <span>Browse your computer.</span>
                  <input #txtName formControlName='name' type="text">


                </a>

                <a href="#" class="upload-photo-item" data-bs-toggle="modal" data-bs-target="#choose-from-my-photo">

                  <svg class="olymp-photos-icon">
                    <use xlink:href="#olymp-photos-icon"></use>
                  </svg>

                  <h6>Choose from My Photos</h6>
                  <span>Choose from your uploaded photos</span>
                </a>
              </div>
            </div>
          </div>
        </div>


        <!-- ... end Window-popup Update Header Photo -->


      </form>
    </div>

    <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-expanded="true">
      <form>
        <div class="author-thumb">
          <img loading="lazy" src="https://production-gameflipusercontent.fingershock.com/us-east-1:5f07d933-c261-4716-9a12-eb6012d186a8/avatar/96586914-c795-46be-8b8f-4a6455472747/320x320.jpg" width="36" height="36" alt="author">
        </div>
        <div class="form-group with-icon label-floating is-empty">
          <label class="control-label">Share what you are thinking here...</label>
          <textarea formControlName="content2" class="form-control" placeholder=""></textarea>
        </div>
        <div class="add-options-message">
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD PHOTOS">
            <svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo">
              <use xlink:href="#olymp-camera-icon"></use>
            </svg>
          </a>
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="TAG YOUR FRIENDS">
            <svg class="olymp-computer-icon">
              <use xlink:href="#olymp-computer-icon"></use>
            </svg>
          </a>

          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD LOCATION">
            <svg class="olymp-small-pin-icon">
              <use xlink:href="#olymp-small-pin-icon"></use>
            </svg>
          </a>

          <button class="btn btn-primary btn-md-2">Post Multimedia</button>
          <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

        </div>

      </form>
    </div>

    <div class="tab-pane fade" id="blog" role="tabpanel" aria-expanded="true">
      <form>
        <div class="author-thumb">
          <img loading="lazy" src="https://production-gameflipusercontent.fingershock.com/us-east-1:5f07d933-c261-4716-9a12-eb6012d186a8/avatar/96586914-c795-46be-8b8f-4a6455472747/320x320.jpg" width="36" height="36" alt="author">
        </div>
        <div class="form-group with-icon label-floating is-empty">
          <label class="control-label">Share what you are thinking here...</label>
          <textarea class="form-control" placeholder=""></textarea>
        </div>
        <div class="add-options-message">
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD PHOTOS">
            <svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo">
              <use xlink:href="#olymp-camera-icon"></use>
            </svg>
          </a>
          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="TAG YOUR FRIENDS">
            <svg class="olymp-computer-icon">
              <use xlink:href="#olymp-computer-icon"></use>
            </svg>
          </a>

          <a href="#" class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="ADD LOCATION">
            <svg class="olymp-small-pin-icon">
              <use xlink:href="#olymp-small-pin-icon"></use>
            </svg>
          </a>

          <button class="btn btn-primary btn-md-2">Post</button>
          <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

        </div>

      </form>
    </div>
  </div>
</div>

